#details{
    position: absolute;
    top: 50vh;
}
img{
    width: 3rem;
    height: 3rem;
    margin-left: 6px;
    position: absolute;
    z-index: 4; 
    cursor: pointer;
}

#details ul {
    border-radius: 4px;
    list-style-type: none;
    position: relative;
    left: 50px;
    padding: 0px;
    padding-left: 5px;
    /* background-color: rgb(104, 70, 27); */
    width: 8rem;
    height: 7rem;
    top: -1.5rem;
    z-index: 1; 
    visibility:visible;
    



}
li{
    border: 2px solid grey;
    width: 7rem;
    height: 1.3rem;
    padding: 2px;
    margin: 4px;
    border-radius: 3px;
    text-align: center;
    background-color: rgb(22, 96, 71);
    cursor: pointer;

}
li div{
    width: 12rem;
   border: 2px solid rgb(246, 3, 185);
   margin-left:130px ;
   padding: 2px;
   border-radius: 4px;
   visibility: hidden;

}
li:hover div{
    visibility: visible;
}